<!DOCTYPE html>
<html>
<head>
    <title>Torneig d'Escacs</title>
</head>
<body>
    <h1>Benvingut al Torneig d'Escacs</h1>
    
    <!-- Bloque para mostrar mensajes flash -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class="flashes">
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    
    <nav>
        <ul>
            <li><a href="{{ url_for('index') }}">Inici</a></li>
            <li><a href="{{ url_for('gestionar_participants') }}">Participants</a></li>
            <li><a href="{{ url_for('mostrar_partides') }}">Partides</a></li>
            <li><a href="{{ url_for('mostrar_puntuacions') }}">Puntuacions</a></li>
            <li><a href="{{ url_for('cercar') }}">Cercar</a></li>
        </ul>
    </nav>
    
</body>
</html>